# Hardware resources
slurm_cpus_per_task=8
slurm_mem="64g" 

# Software arg defaults
diamond_args="--block-size 10 --iterate faster --index-chunks 1 --tmpdir /scratch/diamond"
 
# SLURM partition
slurm_partition="local"
 
# VS paths
bin_path = "/opt/virusseeker/third_party/"
# /opt/conda/etc/profile.d/conda.sh
conda_prefix="/opt/conda"

ref="/database/ref"
#nr = "/path/to/nr"
# DIAMOND NR database.
nr="/database/nr/nr.dmnd"

# Complete nucleotide MMseqs2 database prefix.
mmseqsnt="/database/core_nt/core_nt"
mmseqs_tmpdir = "/scratch/mmseqs"

# Viral DIAMOND protein database.
virus_nr="/database/virus_nr/virus_nr.dmnd"

# Viral nucleotide MMseqs2 database prefix.
virus_nt="/database/virus_nt/virus_nt"

#Python parsing paths
virus_family_genomes = /opt/virusseeker/scripts/virusFamily_genomeSizes.txt
vhunter = /database/vhunter_acc.db
ncbi_taxdb = /database/taxa.sqlite

