###############################################################################
# Author: BDRD <usn.detrick.nmrc.mbx.genomics-reach-back@health.mil>
#
# License:
# VirusSeeker 2.0 is free software: you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published by the Free
# Software Foundation, version 3 of the License or any later version. For 
# details, please refer to https://www.gnu.org/licenses/
###############################################################################

# Hardware resources
slurm_cpus_per_task=62
slurm_mem=128g 

# Software arg defaults
diamond_args="--block-size 10 --iterate faster --index-chunks 1 --tmpdir /tmp"
 
# SLURM partition
slurm_partition="vs"
 
# VS paths
bin_path = "/path/to/VirusSeeker/bin/"
conda_prefix="/path/to/miniforge3"
ref = "/path/to/ref"
#nr = "/path/to/nr"
nr = "/path/to/nr.dmnd"
mmseqsnt = "/path/to/core_nt"
mmseqs_tmpdir = "/path/to/tmp"
virus_nr = "/path/to/virus_nr"
virus_nt = "/path/to/virus_nt"
